<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking Successful</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <header>
      <h1><a href="/">Infinity Travel</a></h1>
    </header>

    <main class="container success-page">
      <h2>Booking Successful!</h2>
      <p>
        Thank you for booking with Infinity Travel. Your flight has been booked
        successfully!
      </p>
      <a href="/" class="btn">Go to Home Page</a>
    </main>
  </body>
</html>
